#root {
  --header-colour: rgb(255, 209, 255);
  --sidebar-colour: rgb(224, 172, 224);
  --content-colour: rgb(255, 253, 239);
}

.App {
  min-height: 100%;
}

.banner {
  background-color: var(--header-colour);
  min-height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title span {
  color: goldenrod;
}

.title {
  color: purple;
  margin: 0;
}

.main-content {
  display: flex;
  height: 95vh;
  width: 100vw;
}

.content-box {
  width: 100%;
  background-color: var(--content-colour);
}

.sidebar {
  width: 300px;
  background-color: var(--sidebar-colour);
}